<div class="container-fluid">
  <div class="row">
    <div class="col-md-3 bg-primary" style="height: 90vh;">
      <mat-card appearance="outlined" class="m-3 p-3">
        <mat-card-header>
          <mat-card-title>Class</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="button-color">
          <button class="example-button-row"mat-flat-button (click)="addCard()" color="primary">Add Carte</button>
        </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div  class="col-md-9" style="display: flex; justify-content: center; align-items: center; height: 90vh;">
      <!-- Zone pour les cartes dupliquées -->

      <div *ngFor="let card of cards" class="card-duplicate-container" cdkDrag (dblclick)="openAddEditClassForm()">
        <mat-card appearance="outlined" class="m-3 p-3">
          <mat-card-header>
            <mat-card-title>Class</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            Contenu de la carte
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>
